<% layout("boilerplate.ejs") %> 

<style>

    p{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .aboutus{
        font-size: large;
  

  
}
.deco{
  color: red;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    background-color:rgb(199, 199, 255);
}
</style>

    <div class="container">
    <div class="card shadow m-5 p-5 shadow">
  <span class="aboutus">
  <h1 class="text-center" style="font-size: 2.5em;color:rgb(28, 0, 141);font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">About us</h1>
  
  <h3 style="font-weight: bold;">Our values</h3>
  <h5 style="color:darkblue"><i>Vedas</i></h5>
    <p>We believe and follow our vedic inscriptions knowledge like "Vasudhaiva Kutumbakani" means whole world is our family.</p>
  
  <h5 style="color:darkblue"><i>Commitment</i></h5>
  <p>Our commitment to our work towards development of our nation and preserving our culture to keep our developing country aligned with our traditions and culture.</p>
  
  <h5 style="color:darkblue"><i>Teamwork</i></h5>
    <p>Our team are all about helping each other.And keep pushing each other to achieve our goal and grow together for betterment of our society.</p>
  <h3 style="font-weight: bold;">Our Aim</h3>
  <p>"The Pride" family believes in action,progress and growth of our nation.But a nation on the way of development should not forget its roots,culture and heritage.We aim to revive our cultural heritage sites and keep our country's "legacy" and "pride" high.</p>
  </span>
</div>
</div>

