<style>


a{
    text-decoration: none;
}



</style>

<div class="foot">

   

      
    

    <!-- Footer -->
  <footer style="background-color:rgb(0, 0, 75) !important ; color:white !important ; " class="p-5 text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h2 class=" fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>ThePride
            </h2>
            <p>
              Here you can experience various prestigious heritage sites of Maharashtra digitally.          </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Our Services
            </h6>
            <p>
              <a href="/guide/register" class="text-reset">Join as a guide</a>
            </p>
            <p>
              <a href="/vocalforlocal" class="text-reset">VocalForLocal</a>
            </p>
            <p>
              <a href="/sites" class="text-reset">Sites to visit</a>
            </p>
            <p>
              <a href="/infohub" class="text-reset">InfoHub</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Quick links
            </h6>
            <p>
              <a href="/aboutus" class="text-reset">About us</a>
            </p>
            <p>
              <a href="#map" class="text-reset">Map</a>
            </p>
            <p>
              <a href="/contactus" class="text-reset">Contact Us</a>
            </p>
            
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4 ">Contact</h6>
            <p><i class="fas fa-home me-3"></i> Nashik, Maharashtra 422401, IN</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              ThePride@gmail.com
            </p>
            <p><i class="fas fa-phone me-3"></i>+91 3482838384</p>
            <p><i class="fas fa-print me-3"></i>+91 5482232384</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2022 Copyright
      <a style="text-decoration: none" class="text-reset fw-bold" href="/">ThePride</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->

</div>
