<%- layout("boilerplate.ejs") %> 



<style>
    p{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .aboutus{
        font-size: large;
  
  
}
.deco{
  color: red;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    background-color:rgb(199, 199, 255);
}
</style>

    <div class="container">
    <div class="card shadow m-5 p-5 shadow">
  <span class="aboutus">
  <h1 class="text-center" style="font-size: 2.5em;color:rgb(28, 0, 141);font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">The Forgotten Heroes</h1>
  <p>Almost four centuries after Shivaji and his soldiers did themselves proud against Aurangzeb's armies, their descendants are waiting for these warriors to get their rightful place in history.</p>
  <p>The year was 1665. Diler Khan, Emperor Aurangzeb's Pathan commander, had laid siege to the gigantic fort of Purandar near Pune. Behind the massive walls were Chhatrapati Shivaji's soldiers led by Murar Baji, a Kayastha commander. With just 60 men, Baji stormed the Mughal army, slaying 500 Pathans. Legend has it that Khan stopped the battle midway and addressed Baji, "I have never seen a braver soldier and better swordsman than you. We will be privileged to have you. Join us and you will be rewarded." Baji refused. In the ensuing battle, he was killed by an arrow shot by Khan.</p>
  <p>During the 17th century, the Marathas stood fast against Aurangzeb, not allowing him to venture into their lands even once. Maratha generals like Santaji Ghorpade, Dhanaji Jadhav, Vithoji Chavan Himmat Bahadur, Kanhoji Jedhe and Shivaji's son-in-law Harji Rajemahadik repeatedly defeated the Mughals in south India between 1685 and 1707. They captured many Mughal generals till Shivaji's death in 1680, after which Aurangzeb left Agra for south India to annihilate them. It took Aurangzeb 22 long years to defeat the Marathas in the south.</p>
  <p>The Marathas-along with Shivaji and his two sons, Sambaji and Raja Ram-are household names in Maharashtra today. Many others share the honour-Shivaji's commanderin-chief Hambirrao Mohite; Muslim commanders Noor Beg and Darya Khan; and Khanderao Dabhade, who headed the Maratha army under Shivaji's grandson Sahu, and Bajiprabhu Deshpande, who sacrificed his life to save Shivaji in 1660 during the famous battle of Pawankhind.</p>
  <p>This small group of soldiers was not just blueblooded Kshatriyas, the warrior clan, but people from all sections of society, including high-caste Brahmins-like Moro Pant Pingle and Shankaraji Narayan-and low-caste barbers as well as Muslims. While Shivaji is the most famous name in Maratha history, these unknown warriors are hardly known outside Maharashtra.</p>


<p> centuries down the line, descendants of these soldiers live a middle- to higher middle-class existence in and around Pune and Kolhapur in wadas (havelis) and modern bungalows. Some are farmers; others are professionals and businessmen. The descendant of Jiva Mahale-Shivaji's bodyguard who saved him by killing Bijapur's general Afzal Khan-lives in poverty. But the one thing that binds them together is pride in the deeds of chivalry and loyalty of their ancestors and an urge to live up to their great reputation.</p>

<p>Ranojirao Ghorpade, grandson of Shivaji's general Santaji Ghorpade, an ace marksman and a one-time hunter, is bitter. "When India fails to give an effective reply to Pakistan's covert aggression, I feel like picking up a gun and taking on the Pakistanis in the tradition of my ancestors. I regret I didn't join the army." His grandfather had continued to fight Aurangzeb's armies after the death of Sambaji, who was killed by the emperor for not converting to Islam. Ranojirao is a farmer in his ancestral village of Kapshi near Kolhapur; his living room boasts of 103 hunting trophies.</p>

<p>Like Ranojirao, Dilip Singh Himmat Bahadur Chavan is also a farmer in Nigwe near Kolhapur. His ancestor Vithoji earned the title of Himmat Bahadur from Shivaji's son Raja Ram for his bravery against the Mughals. He says, "History has not given generals like Santaji Ghorpade, Dhanaji Jadhav and Vithoji their true place. They had terrorised Aurangzeb and had almost captured him once." The trio once entered Aurangzeb's camp, plundered it and cut off the penants at its gate.</p>

<p>Vikramsinhraje Jadhavrao, the Raja of Malegaon Budruk near Baramati and a descendant of Dhanaji Jadhav, is a builder in Pune, known for getting slumdwellers good deals for their land and constructing buildings on them. "The new generation is still tuned into history and culture, at least in Maharashtra."</p>

<p>Jaywantrao Mohite is a retired professional, one of the few men in his family who didn't join the army. His ancestor Hambirrao Mohite was the commander-in-chief of Shivaji's army after his death in 1680. In keeping with the family tradition, two of Jaywantrao's cousins won the Victoria Cross in World War II . He echoes Chavan's words, "History of figures like Hambirrao and others who fought with Shivaji should be known." He proudly preserves old ancestral artefacts, including a tiger claw and a steel scorpion which were used as weapons. Hambirrao's daughter was married to Shivaji's younger son Raja Ram.</p>

<p>Pride is discernible on the faces of Kaustubh Deshpande and Sandip Potnis, descendants of Shivaji's Kayastha commanders Baji Prabhu Deshpande and Murar Baji Baji. Baji Prabhu held off Bijapur general Siddi Jauda's forces for seven hours at the Pawakind mountain pass near Kolhapur, letting Shivaji escape. Baji Prabhu was wounded 47 times in the battle. A computer professional, Kaustubh's efforts to build a monument in his ancestral village Shind as homage to his ancestor have gone in vain. "It is unfortunate that there is an utter lack of respect in certain quarters for such a war hero," he says about the government's apathy.</p>

Potnis, a farmer near Pune, is proud of his ancestry. "If Indians are to give a befitting reply to the hostile designs of China and Pakistan, the saga of warriors like Murar Baji must be spread to inspire bravery and patriotism in the new generation," he says. Padmasenraje Dabhade and his son Satyashil Dabhade agree.

<p>"We don't understand why the exploits of such great figures don't figure uniformly across the country in history books in schools," they say. Both are descendants of the general Khanderao Dabhade who played a key role in extending Maratha power north of the Narmada during the reign of Shivaji's grandson Sahu. The Dadhabes live in their Pune flat, which is lined with some of the oldest documents of their family. One of their women ancestors Umabhai Dabhade, the daughter-in-law of Khanderao, led the Maratha army and won a battle against the Mughals near Ahmedabad.</p>

<p>The most well-preserved heirlooms are perhaps with Krishnaraje Rajemahadik and his father Shilsinhraje, descendants of Shivaji's eldest sonin-law Harjiraje Rajemahadik. Their haveli in Tarale village near Satara houses swords, daggers, spears, silverware and ancient covered carts used by women to travel. Shivaji had visited Tarale for his daughter Ambicabai's wedding. "It is difficult to maintain old articles but our love for tradition has enabled us to do so. That our family was so closely related to Shivaji and fought bravely for him is a source of inspiration," says Krishnaraje.</p>

<p>There are some who are not so fortunate. Balkrishna Sapkal, a descendant of Jiva Mahale, is paralysed and poverty-struck. A barber, he can no longer work. But his pride is intact. Shorn of his ancestral land and mansion in village Kondivli, Sapkal lives with his wife Suman in a 10-by-8 ft rented room near Kondivli. Local politicians associated with royalty took away his documents and an inscribed copper plate that established his ancestry. "As a dignified descendant of such a brave man, I don't like to beg. But I would be happy if the government or some descendants of Shivaji did something for us," he says.</p>

<p>Sapkal is not alone. Balasaheb Jedhe traces his lineage to Kanhoji Jedhe, the jagirdar of Kari near Pune. Kanhoji supported Shivaji with 22 chieftains and soldiers in the battle against Afzal Khan. In the battle of Yelburga in 1677, Kanoji's son Nagoji severed the trunk of the elephant on which Bijapuri general Hussain Khan Miyana was riding before being shot dead.</p>

<p>Today, Jedhe and his four brothers share 70 acres of land and a dilapidated haveli. The only inheritance that remains is Kanhoji's 400-year-old armour and copper idols of gods and goddesses, including a Shivling brought by Kanhoji from Karnataka.</p>

<p></p>Jedhe is a farmer but he still commands respect for his family's place in history. The Jedhe family's old family papers helped historians like Jadynath Sarkar in their research on Maratha history. "Old families among us who are well-off don't need help from the government like we do. Some provisions must be made for hard-up families like ours considering the sacrifices made by our ancestors," laments Jedhe.</p>

<p>Almost four centuries after Shivaji and his brave warriors kept Emperor Aurangzeb's armies from ravaging Maharashtra, their descendants have only their near-forgotten pride and heirlooms to nourish. Sadly, their ancestors' rightful place in history still eludes them.</p>

<h3>Taken from: <a href="https://www.indiatoday.in/magazine/heritage/story/20090914-the-forgotten-heroes-740682-2009-09-02">https://www.indiatoday.in/magazine/heritage/story/20090914-the-forgotten-heroes-740682-2009-09-02</a></h3>
</span>
</div>
</div>


  
</body>
</html>