<% layout("boilerplate.ejs") %> 
<div style="height:100vh" class="container">


    <div class="alert alert-success mt-5 mb-5 text-center" role="alert">
       <b><%= message %> </b> 
      </div>


</div>
