<% layout("boilerplate.ejs") %>

<style>
  body{
    background-color: rgb(208, 208, 255);
  }
</style>

<div class="container">

  <div class="col-6 offset-3 mb-5 mt-5">
    <div class="card shadow m-3 p-5">
    <h2 style="color:darkblue;" class="text-center p-3 mb-3">Guide Registration</h2>

    <form action="/guide/register" method="post">


        
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>


            <div class="mb-3">
              <label for="exampleInputPassword" class="form-label">Username</label>
              <input name="username" type="text" class="form-control" id="exampleInputPassword">
            </div>


            <div class="mb-3">
              <label for="exampleInputPassword2" class="form-label">Contact Number</label>
              <input name ="number" type="tel" class="form-control" id="exampleInputPassword2">
            </div>

            <div class="mb-3">
              <label for="exampleInputPassword10" class="form-label">Upload your picture using URL</label>
              <input name ="image" type="url" class="form-control" id="exampleInputPassword10">
            </div>

            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Place for Tour </label>
                <input name="place" type="text" class="form-control" id="exampleInputPassword1">
              </div>

            <div class=" input-group mb-3">
            

              <span class="input-group-text">₹</span>
              <div class="form-floating">
                <input name="fees" type="number" class="form-control" id="exampleInputPassword1">
                <label for="floatingInputGroup1">Fees for your Tour (approximate)</label>
                </div>
            </div>
            
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input name="password" type="password" class="form-control" id="exampleInputPassword1">
            </div>
            
            <button type="submit" class="btn btn-primary">Register</button>
          


    </form>

</div>

</div>
</div>
