<%- layout("boilerplate.ejs") %> 

<style>
    p{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }


body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    background-color:rgb(199, 199, 255);
}
</style>


<div class="container">
    <div class="card shadow m-5 p-5 shadow">

<h1 class="text-center" style="color:darkblue">Vocal for Locals</h1>

<p>
    The idea of the slogan vocal for local is to promote local industries and consume local wherever possible so that the long-term effects of an increase in demand can be used to develop the domestic industries and make them gradually self-reliant. This will help in the upscaling of production, and eventually, make India a manufacturing centre for the world. 

    </p>
    <p>
Vocal for local gives unequivocal importance to the domestic industries and the small-scale shops and stores. In the times where we are struggling to maintain liquidity and regular cash flow, the vocal for local movement can also be seen as an impetus to reawaken demand and hence, to throw a lifeline to the small and marginal domestic industries which are struggling to survive in the wake of the covid-19 pandemic.

</p> 
<p>
If demand shifts in favour of domestic companies, then the advantage is three-fold. First, it will reduce dependence on foreign products, and hence, cut down on the import pressure. Second, it will give a fighting chance to domestic companies to survive through the crisis period. Third, it will fit in with the economic backlash against China, and place India in a strategic position to emerge as the new manufacturing centre of the world.
Future Directions:  So, we will try to implement various ideas in future to our site to digitally become vocal for locals for example recommendation of various local traditional products of a cultural site, online booking of local good quality lodge and recommending local food to our site customers, etc.

</p>
        </div> 
    </div>